@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeBg {
 
  background: url(../images/homeBG1.jpg) no-repeat;
  background-size: cover;
}

.container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.container2 h1 {
  display: block;
  width: 90%;
}

.mapImg {
  background: url(../images/map.png) no-repeat;
  background-size: contain;
  width: 40%;
  height: auto;
}

.cartoonImg {
  background: url(../images/ctnbus.png) no-repeat;
  background-size: cover;
  width: 40%;
  height: auto;
}

.container2 div {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2 div li {
  width: 60%;
  background-color: rgb(231, 88, 88);
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  position: relative;
  left: 10%;
  text-align: center;
}

.features div:hover {
  background: #000;
  color: white;
  transition: 0.8s ease-in;
}

.buslist {
  width: 100%;
  border: 1px solid darkcyan;
}

.busContainer {
  border: 1px solid black;
  padding: 10px;
}

.busContainer td,
th {
  width: max-content;
}



.seatercontainer div button {
  border: 1px solid rgb(41, 37, 37);
}

.seatercontainer {
  display: flex;
  justify-content: space-around;
}

table {
  width: 80%;
  border-radius: 5px;

}

.thContainer th {
  width: 200px;
}

.busContainer td {
  width: 200px;
}

td {

  text-align: center;
}

.mob_version {
  display: none;
}

/* ----------------------------- */
/* Custom animation */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

/* Orbit container positioning */
.orbit {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.orbit-item {
  position: absolute;
}


/* ---------------- */
@media screen and (max-width:900px) {
  .features {
    flex-direction: column;
    height: auto;
    gap: 10px;
    align-items: center;
  }

  .features div {
    width: 70%;
    height: auto;
  }

  .homeBg div {
    flex-direction: column;
    height: max-content;
    gap: 5px;
    padding: 10px;

  }

  .homeBg div input,
  select {
    width: 80%;
    height: auto;

  }

  .homeBg div button {
    width: 80%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
  }

  .container2 {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .container2 h1 {
    display: block;
  }

  .container2 div li {
    width: 80%;
    background-color: rgb(231, 88, 88);
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    position: relative;
    left: 10%;
  }

  .container2 div {
    width: 90%;
    height: max-content;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  .container2 div h1 {
    display: none;
  }

  .container2 div p {
    text-align: center;
  }

  .mapImg {
    width: 80%;
    height: 700px;
    align-items: center;
    padding: 200px 50px;
  }

  .header a {
    display: none;

  }

  .navbar {
    display: none;
  }

  .container3 {
    flex-direction: column;
    align-items: center;
  }

  .container3 div {
    width: 90%;
    padding: 10px;

  }

  .cartoonImg {
    width: 100%;
    height: 400px;
    align-items: center;
  }

  .features {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .features div {
    width: 40%;
    height: auto;
    padding: 15px;
    text-align: center;
  }

  .features div div {
    text-align: center;
  }

  .filterContainer {
    display: none;
  }

  .busContainer {
    flex-wrap: wrap;
    border-radius: 10px;
    width: 100%;
  }

  .thContainer {
    display: none;
  }

  .busname {
    width: 80%;
    font-size: x-large;

  }

  .route {
    width: 60%;
  }

  .detailsContainer {
    flex-direction: column;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .seatdetials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

  }

  .seatercontainer {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
    align-items: center;
  }

  .seatercontainer landscape {
    height: 550px;
    padding: 4px;

  }

  .seatercontainer div button {
    border: 1px solid rgb(41, 37, 37);
  }

  .mob_version {
    display: flex;
    gap: 5px;

  }
  .mobileVer {
    transform: rotate(90deg);
    width: 50vh;
    height: 100%;
    position: relative;
    right: 30%;
    top: 10%;
    border: 2px solid orangered;
    padding: 10px;
    background: blueviolet;
    
   
  }
  .desktop_ver {
    display: none;
  }
  /*
  .mob-par{
   width: 50vh;
   height: 100%;
   display: flex;
   background: #000;
   
  }
  */
  .mobileVersion{
    width: 100%;
    height: 60vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

  }
.mobileVersion div{
  margin-right: -20px;
  padding: 4px 10px;
}
}